/***************************************************************************/
/* FUENTES */
/***************************************************************************/
@font-face {
  font-family: Balleny;
  src: url(./../assets/fonts/Balleny.otf);
}
@font-face {
  font-family: Mont-Heavy;
  src: url(./../assets/fonts/Mont-HeavyDEMO.otf);
}
@font-face {
  font-family: Mont-ExtraLight;
  src: url(./../assets/fonts/Mont-ExtraLightDEMO.otf);
}
.l10 {
  width: 10%;
}

.l20 {
  width: 20%;
}

.l30 {
  width: 30%;
}

.l40 {
  width: 40%;
}

.l50 {
  width: 50%;
}

.l60 {
  width: 60%;
}

.l70 {
  width: 70%;
}

.l80 {
  width: 80%;
}

.l90 {
  width: 90%;
}

.l100 {
  width: 100%;
}

.txt-white {
  color: #d8e9f0;
}

.txt-gray {
  color: #33425b;
}

.txt-red {
  color: #f33535;
}

.txt-black {
  color: #29252c;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-top {
  text-align: top;
}

.txt-bottom {
  text-align: bottom;
}

.txt-bold {
  font-weight: bold;
}

/***************************************************************************/
/* CONFIGURACION UNIVERSAL */
/***************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Mont-ExtraLight", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./../assets/img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Tarjetas basicas */
.card-header {
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--white);
}

.card-block,
.card-inline {
  background-color: var(--black);
  padding: 30px;
  margin: 0 20px;
  color: white;
  border-radius: 30px;
  overflow: hidden;
  vertical-align: top;
}

.card-inline {
  display: inline-block;
}

/***************************************************************************/
/* HEADER (Para todos los HTML) */
/* bs-mod hace referencia a que son clases modificadoras de Bootstrap */
/* bs-mod: Bootstrap Modify */
/***************************************************************************/
.header .bs-mod__navbar {
  background-color: #29252c;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 20px;
}
.header .bs-mod__navbar-img-div a {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.header .bs-mod__navbar-img-div a .bs-mod__navbar-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #f33535;
}
.header .bs-mod__navbar .bs-mod__toggler {
  border: 2px solid #f33535;
}
.header .bs-mod__navbar .bs-mod__toggler:focus {
  border: 2px solid #f33535;
  outline: none;
}
.header .bs-mod__navbar .bs-mod__toggler-icon {
  background-image: url(./../assets/svg/menu-expand-svgrepo-com.svg);
}
.header .bs-mod__navbar-collapse {
  flex-grow: 0;
}
.header .bs-mod__navbar-collapse form {
  margin-right: 20px;
}
.header .bs-mod__navbar-collapse form .bs-mod__search-field {
  background-color: #29252c;
  border: none;
  border-bottom: 2px solid #f33535;
  border-radius: 0px;
  color: #d8e9f0;
  transition: none;
  padding: 0px 10px;
  width: 100%;
}
.header .bs-mod__navbar-collapse form .bs-mod__search-field:focus {
  outline: none;
}
.header .bs-mod__navbar-collapse form .bs-mod__btn {
  color: #f33535;
  border-color: #f33535;
}
.header .bs-mod__navbar-collapse form .bs-mod__btn:hover {
  border-color: #f33535;
  background-color: #f33535;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link {
  color: #d8e9f0;
  font-weight: bold;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link:visited {
  color: #d8e9f0;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link:hover {
  border-bottom: 2px solid #f33535;
  font-size: 1em;
  text-shadow: 0px 0px 17px #d8e9f0;
}
.header .bs-mod__active {
  color: #d8e9f0;
  text-shadow: 0px 0px 17px #d8e9f0;
}

.banner {
  padding: 15px 0px;
  margin: 0px 40px;
  height: 100px;
  position: relative;
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #d8e9f0;
}
.banner__title-div {
  color: #d8e9f0;
  position: absolute;
  top: 33px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  /* El banner de las paginas va a contener la etiqueta h1 */
  /* La tiqueta h1 es unica por archivo html */
}
.banner__title-div .banner__title {
  font-size: 30px;
  color: #d8e9f0;
  text-shadow: #f33535 1px 0 20px;
  font-family: "Mont-Heavy";
}

/***************************************************************************/
/* MAIN - INDEX */
/***************************************************************************/
/* Configuro la unica card que hay para que quede al centro de la pantalla */
.index__image__div {
  text-align: center;
  margin-bottom: 20px;
}
.index__image__div .index__image {
  width: 550px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #f33535;
  object-fit: cover;
}

.index__header, .index__header--left {
  margin: 30px 0px;
  text-align: center;
}

.index__header--left {
  text-align: left;
}

.index__paragraph, .index__paragraph--center {
  margin: 15px 0px;
  text-align: left;
}

.index__paragraph--center {
  text-align: center;
}

/* Clase para modificar Bootstrap */
.bs-mod__container {
  background-color: var(--black);
  color: var(--white);
  border-radius: 30px;
  padding: 10px 30px;
  margin: 10px 30px;
  width: auto;
}
.bs-mod__container p {
  border: 2px solid var(--red);
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
}

/***************************************************************************/
/* FOOTER */
/***************************************************************************/
footer {
  background-color: #29252c; /* Defino un color para el fondo */
  margin: 0; /* El header no tiene division con el borde de pantalla */
  padding: 0; /* Los elementos dentro del header no tienen espaciado */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

/* Barra con los iconos de redes sociales */
/* La uso tanto en el footer como en Index - Contact */
.social-bar {
  padding: 5px 0px;
}
.social-bar__list {
  padding: 5px 0px;
  list-style: none;
  text-align: center;
}
.social-bar__list__item {
  margin: 0px 5px;
  padding: 5px;
  display: inline-block;
}
.social-bar__list__item__link {
  text-decoration: none;
}
.social-bar__list__item__link__icon {
  width: 40px;
  height: 40px;
  border-radius: 35%;
}

/***************************************************************************/
/* Media Query Tablet --> 768px - 1023px */
/***************************************************************************/
/***************************************************************************/
/* Media Query Mobile --> 320px - 767px */
/***************************************************************************/
@media (max-width: 767px) {
  /* MAIN - INDEX */
  .index__image__div .index__image {
    width: 65vw;
  }
  .index__header, .index__header--left,
  .index__paragraph,
  .index__paragraph--center {
    text-align: center;
  }
}
/***************************************************************************/
/* Media Query especifica para Bootstrap */
/***************************************************************************/
@media (max-width: 991px) {
  .header .bs-mod__navbar {
    z-index: 1;
  }
  .header .bs-mod__navbar-collapse {
    text-align: center;
    position: absolute;
    background-color: #29252c;
    width: 100%;
    top: 75px;
    left: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .header .bs-mod__navbar-collapse form {
    margin: 30px auto;
    width: 50%;
  }
  .header .bs-mod__navbar .bs-mod__btn {
    color: #f33535;
    border-color: #f33535;
  }
  .header .bs-mod__navbar .bs-mod__btn:hover {
    border-color: #f33535;
    background-color: #f33535;
  }
}
/***************************************************************************/
/* Media queries especiales de uso especifico */
/***************************************************************************/
@media (max-width: 350px) {
  /* MAIN - INDEX */
  .index__image__div .index__image {
    width: 50vw;
  }
  /* BANNER */
  .banner__title-div {
    top: 37px;
  }
  .banner__title-div .banner__title {
    font-size: 22px;
  }
  /* FOOTER */
  footer {
    display: flex;
    justify-content: center;
  }
  footer .social-bar {
    width: 80%;
  }
}
@media (max-width: 250px) {
  /* MAIN - INDEX */
  .index__image {
    width: 50vw;
  }
  .index__header, .index__header--left {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=main.css.map */
