@charset "UTF-8";
/***************************************************************************/
/* FUENTES */
/***************************************************************************/
@font-face {
  font-family: Balleny;
  src: url(./../assets/fonts/Balleny.otf);
}
@font-face {
  font-family: Mont-Heavy;
  src: url(./../assets/fonts/Mont-HeavyDEMO.otf);
}
@font-face {
  font-family: Mont-ExtraLight;
  src: url(./../assets/fonts/Mont-ExtraLightDEMO.otf);
}
.l10 {
  width: 10%;
}

.l20 {
  width: 20%;
}

.l30 {
  width: 30%;
}

.l40 {
  width: 40%;
}

.l50 {
  width: 50%;
}

.l60 {
  width: 60%;
}

.l70 {
  width: 70%;
}

.l80 {
  width: 80%;
}

.l90 {
  width: 90%;
}

.l100 {
  width: 100%;
}

.txt-white {
  color: #d8e9f0;
}

.txt-gray {
  color: #33425b;
}

.txt-red {
  color: #f33535;
}

.txt-black {
  color: #29252c;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-top {
  text-align: top;
}

.txt-bottom {
  text-align: bottom;
}

.txt-bold {
  font-weight: bold;
}

/***************************************************************************/
/* CONFIGURACION UNIVERSAL */
/***************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Mont-ExtraLight", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./../assets/img/background-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main section {
  margin-bottom: 20px;
}

/* Tarjetas basicas */
.card-header {
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #d8e9f0;
}

.card-block,
.card-inline {
  background-color: #29252c;
  padding: 30px;
  margin: 0 20px;
  color: #d8e9f0;
  border-radius: 30px;
  overflow: hidden;
  vertical-align: top;
}

.card-inline {
  display: inline-block;
}

/***************************************************************************/
/* BOTON DE CONTACTO DE POSICION FIJA */
/***************************************************************************/
.whatsapp-fixed {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
.whatsapp-fixed img {
  width: 60px;
}

/***************************************************************************/
/* HEADER (Para todos los HTML) */
/* bs-mod hace referencia a que son clases modificadoras de Bootstrap */
/* bs-mod: Bootstrap Modify */
/***************************************************************************/
.header .bs-mod__navbar {
  background-color: #29252c;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 20px;
}
.header .bs-mod__navbar-img-div a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header .bs-mod__navbar-img-div a .bs-mod__navbar-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #f33535;
}
.header .bs-mod__navbar .bs-mod__toggler {
  border: 2px solid #f33535;
}
.header .bs-mod__navbar .bs-mod__toggler:focus {
  border: 2px solid #f33535;
  outline: none;
}
.header .bs-mod__navbar .bs-mod__toggler-icon {
  background-image: url(./../assets/svg/menu-expand-svgrepo-com.svg);
}
.header .bs-mod__navbar-collapse {
  flex-grow: 0;
}
.header .bs-mod__navbar-collapse form {
  margin-right: 20px;
}
.header .bs-mod__navbar-collapse form .bs-mod__search-field {
  background-color: #29252c;
  border: none;
  border-bottom: 2px solid #f33535;
  border-radius: 0px;
  color: #d8e9f0;
  transition: none;
  padding: 0px 10px;
  width: 100%;
}
.header .bs-mod__navbar-collapse form .bs-mod__search-field:focus {
  outline: none;
}
.header .bs-mod__navbar-collapse form .bs-mod__btn {
  color: #f33535;
  border-color: #f33535;
}
.header .bs-mod__navbar-collapse form .bs-mod__btn:hover {
  border-color: #f33535;
  background-color: #f33535;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link {
  color: #d8e9f0;
  font-weight: bold;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link:visited {
  color: #d8e9f0;
}
.header .bs-mod__navbar-collapse .bs-mod__nav-item .bs-mod__nav-link:hover {
  border-bottom: 2px solid #f33535;
  font-size: 1em;
  text-shadow: 0px 0px 17px #d8e9f0;
}
.header .bs-mod__active {
  color: #d8e9f0;
  text-shadow: 0px 0px 17px #d8e9f0;
}

/***************************************************************************/
/* BANNER PARA LAS PAGINAS */
/***************************************************************************/
.banner {
  padding: 15px 0px;
  margin: 0px 40px;
  height: 100px;
  position: relative;
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #d8e9f0;
}
.banner__title-div {
  color: #d8e9f0;
  position: absolute;
  top: 33px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  /* El banner de las paginas va a contener la etiqueta h1 */
  /* La tiqueta h1 es unica por archivo html */
}
.banner__title-div .banner__title {
  font-size: 30px;
  color: #d8e9f0;
  text-shadow: #f33535 1px 0 20px;
  font-family: "Mont-Heavy";
}

/***************************************************************************/
/* MAIN - INDEX */
/***************************************************************************/
/* Configuro la unica card que hay para que quede al centro de la pantalla */
.index__image__div {
  text-align: center;
  margin-bottom: 20px;
}
.index__image__div .sl-mod {
  width: 550px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #f33535;
  overflow: hidden;
  margin: auto;
}
.index__image__div .sl-mod img {
  width: 550px;
  height: 350px;
  object-fit: cover;
}

.index__header, .index__header--left {
  margin: 30px 0px;
  text-align: center;
}

.index__header--left {
  text-align: left;
}

.index__paragraph, .index__paragraph--center {
  margin: 15px 0px;
  text-align: left;
}

.index__paragraph--center {
  text-align: center;
}

/* Clase para modificar Bootstrap */
.bs-mod__container {
  background-color: #29252c;
  color: #d8e9f0;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 10px 30px;
  width: auto;
}
.bs-mod__container p {
  border: 2px solid #f33535;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
}

/***************************************************************************/
/* MAIN - ABOUT */
/***************************************************************************/
.grilla-about-2x2 {
  padding: 0px 40px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.grilla-about-2x2 .card-about-1,
.grilla-about-2x2 .card-about-2,
.grilla-about-2x2 .card-about-3,
.grilla-about-2x2 .card-about-4 {
  background-color: #29252c;
  padding: 30px;
  margin: 0px 0px;
  color: #d8e9f0;
  border-radius: 30px;
  overflow: hidden;
}
.grilla-about-2x2 .card-about-1 h2,
.grilla-about-2x2 .card-about-2 h2,
.grilla-about-2x2 .card-about-3 h2,
.grilla-about-2x2 .card-about-4 h2 {
  height: 5%;
}
.grilla-about-2x2 .card-about-1 .card-about__header,
.grilla-about-2x2 .card-about-2 .card-about__header,
.grilla-about-2x2 .card-about-3 .card-about__header,
.grilla-about-2x2 .card-about-4 .card-about__header {
  margin-bottom: 30px;
  text-align: center;
}
.grilla-about-2x2 .card-about-1 .card-about--flex,
.grilla-about-2x2 .card-about-2 .card-about--flex,
.grilla-about-2x2 .card-about-3 .card-about--flex,
.grilla-about-2x2 .card-about-4 .card-about--flex {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.grilla-about-2x2 .card-about-1 .card-about__subtitle,
.grilla-about-2x2 .card-about-2 .card-about__subtitle,
.grilla-about-2x2 .card-about-3 .card-about__subtitle,
.grilla-about-2x2 .card-about-4 .card-about__subtitle {
  text-align: left;
}
.grilla-about-2x2 .card-about-1 .card-about__paragraph,
.grilla-about-2x2 .card-about-2 .card-about__paragraph,
.grilla-about-2x2 .card-about-3 .card-about__paragraph,
.grilla-about-2x2 .card-about-4 .card-about__paragraph {
  margin-bottom: 20px;
}

/* Le doy un formato a los bordes de los iframe */
.youtube-video,
.google-map {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #d8e9f0;
  display: inline-block;
  width: 100%;
}

/***************************************************************************/
/* MAIN - PORTFOLIO */
/***************************************************************************/
.project {
  text-align: center;
  margin-bottom: 10px;
  /* Con inline-block la imagen me queda al lado de los datos */
  /* Con inline-block la imagen me queda al lado de los datos */
}
.project__img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
  /* Fijo el tamaño de las imagenes para que queden todas iguales */
}
.project__img img {
  width: 100%;
  height: 90%;
  margin-top: 30px;
  border: 3px solid #f33535;
  border-radius: 30px;
  background-color: #29252c;
}
.project__data {
  background-color: #29252c;
  display: inline-block;
  border-radius: 30px;
  margin-left: 20px;
  padding: 30px;
  width: 72.5%;
  /* En particular para estas tarjetas fuerzo que el titulo se alinie
  ** al comienzo (izquierda para occidentales)
  **/
  /* En particular para estas tarjetas fuerzo que el texto se alinie
  ** al comienzo (izquierda para occidentales)
  **/
  /* Los botones quiero que queden a la derecha */
}
.project__data__header {
  text-align: start;
  color: #d8e9f0;
}
.project__data__info {
  text-align: start;
  margin-top: 10px;
  font-size: 20px;
}
.project__data__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  column-gap: 10px;
}
.project__data__btns a {
  color: #d8e9f0;
  background-color: #f33535;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  border: 2px solid #f33535;
  text-decoration: none;
  padding: 8px 20px;
  margin-left: 5px;
  width: 50%;
  /* Agrego el sombreado al boton */
  transition: box-shadow 0.5s;
}
.project__data__btns a:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #33425b;
}

/***************************************************************************/
/* MAIN - EXPERIENCE */
/***************************************************************************/
.work-exp-description {
  background-color: #29252c;
  padding: 30px;
  margin: 0px 10px;
  color: white;
  border-radius: 30px;
  overflow: hidden;
  vertical-align: top;
  width: 30%;
  display: inline-block;
}
.work-exp-description__header--red {
  margin-bottom: 20px;
  color: #f33535;
}

/* Las tarjetas de experiencias laborales van a quedar al lado de
** la informacion */
.work-exp-div {
  display: inline-block;
  overflow: hidden;
  width: 66%;
  /* Le doy formato a cada tarjeta de experiencia */
}
.work-exp-div .work-exp-card {
  background-color: #29252c;
  color: #d8e9f0;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding-left: 20px;
}
.work-exp-div .work-exp-card__img-div {
  background-color: #29252c;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 10px;
  padding: 40px 0px;
}
.work-exp-div .work-exp-card__img-div .work-exp-card-img__img {
  width: 200px;
  height: 200px;
  border: 3px solid #f33535;
  border-radius: 30px;
  background-color: black;
}
.work-exp-div .work-exp-card__data {
  display: inline-block;
  padding: 40px 20px;
  width: 80%;
  /* Alineo los elementos de la lista a la izquierda */
  /* Con el padding, los bullets comienzan en la misma linea que el texto */
  /* Quiero que el boton de contacto me quede a la derecha */
}
.work-exp-div .work-exp-card__data__header {
  padding: 0px 20px;
  text-align: start;
}
.work-exp-div .work-exp-card__data__dates {
  text-align: start;
  margin-top: 10px;
  font-size: 20px;
  padding: 0px 20px;
}
.work-exp-div .work-exp-card__data__tasks {
  margin-top: 10px;
  padding: 0px 20px;
  text-align: start;
}
.work-exp-div .work-exp-card__data__tasks__list {
  padding: 0px 20px;
}
.work-exp-div .work-exp-card__data__contact {
  text-align: end;
  margin: 20px 0px 0px 0px;
}
.work-exp-div .work-exp-card__data__contact__btn {
  color: #d8e9f0;
  background-color: #f33535;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #f33535;
  /* Agrego el sombreado al boton */
  transition: box-shadow 0.5s;
}
.work-exp-div .work-exp-card__data__contact__btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #33425b;
}

/***************************************************************************/
/* MAIN - SKILLS */
/***************************************************************************/
.grilla-skills-2x1 {
  padding: 0 30px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.grilla-skills-2x1 .studies, .grilla-skills-2x1 .skills {
  background-color: #29252c;
  padding: 20px 50px;
  /* margin: 0px 10px; */
  color: white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.grilla-skills-2x1 .studies__header, .grilla-skills-2x1 .skills__header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grilla-skills-2x1 .studies .study, .grilla-skills-2x1 .skills .study {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  /* La informacion de cada estudio o certificado se muestra al lado
  ** del circulo con numero.
  ** Al div del numero le doy posicion relativa para poder agregar la
  ** linea vertical
  **/
  /* La informacion de cada estudio o certificado se muestra al lado del
  ** circulo con numero.
  **/
}
.grilla-skills-2x1 .studies .study__number, .grilla-skills-2x1 .skills .study__number {
  position: relative;
  /* La linea vertical tiene posicion absoluta al medio de los circulos
  ** con los numeros.
  **/
}
.grilla-skills-2x1 .studies .study__number h3, .grilla-skills-2x1 .skills .study__number h3 {
  background-color: #f33535;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grilla-skills-2x1 .studies .study__number .vl, .grilla-skills-2x1 .skills .study__number .vl {
  border-left: 5px solid #f33535;
  height: 98%;
  position: absolute;
  top: 50px;
  left: 22px;
}
.grilla-skills-2x1 .studies .study__info, .grilla-skills-2x1 .skills .study__info {
  text-align: start;
  color: #d8e9f0;
  padding: 0px 15px;
}
.grilla-skills-2x1 .studies .study__info p, .grilla-skills-2x1 .skills .study__info p {
  margin: 10px 0px;
}
.grilla-skills-2x1 .skills {
  /* La etiqueta y barra de cada skill ocupan el 100% del contenedor que
  ** las aloja.
  **/
}
.grilla-skills-2x1 .skills .skill {
  /* La etiqueta sale al lado de la barra de skill */
  /* La etique sale al lado de la barra de skill */
}
.grilla-skills-2x1 .skills .skill__name {
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-right: 15px;
}
.grilla-skills-2x1 .skills .skill__bar {
  display: inline-block;
  width: 70%;
  border-top: none;
  border-bottom: 2px solid #d8e9f0;
  border-left: 2px solid #d8e9f0;
  border-right: 2px solid #d8e9f0;
  /* Le doy una altura minima a la barra llena de skill para que se
  ** muestre en pantalla.
  ** Si no pongo un min-height la barra no se muestra porque el div no
  ** tiene contenido.
  **/
}
.grilla-skills-2x1 .skills .skill__bar--fill {
  background-color: #f33535;
  min-height: 10px;
}

/***************************************************************************/
/* MAIN - CONTACT */
/***************************************************************************/
.grilla-contact-2x1 {
  padding: 0px 40px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "contact-form contact-form contact-info contact-info contact-info";
  column-gap: 25px;
  row-gap: 10px;
}
.grilla-contact-2x1 .contact__form, .grilla-contact-2x1 .contact__info {
  background-color: #29252c;
  padding: 20px 50px;
  margin: 0px 0px;
  color: white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  grid-area: contact-form;
  /* Contenedor principal del formulario de contacto */
}
.grilla-contact-2x1 .contact__form .form, .grilla-contact-2x1 .contact__info .form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  padding: 0px;
  width: 100%;
  color: #d8e9f0;
}
.grilla-contact-2x1 .contact__form .form__field, .grilla-contact-2x1 .contact__info .form__field {
  background-color: #29252c;
  margin: 10px 0px 0px 0px;
  padding-top: 10px;
  /* Con display block logro que las etiquetas aparezcan en un renglon separado */
  /* Defino configuraciones generales para todos los campos de texo */
  /* Le doy estilo al boton de submit */
}
.grilla-contact-2x1 .contact__form .form__field .form-label, .grilla-contact-2x1 .contact__info .form__field .form-label {
  text-align: start;
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
  margin: 10px 0px;
  color: #d8e9f0;
}
.grilla-contact-2x1 .contact__form .form__field--text, .grilla-contact-2x1 .contact__info .form__field--text {
  background-color: #29252c;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #f33535;
  outline: none;
  color: #d8e9f0;
}
.grilla-contact-2x1 .contact__form .form__field--textarea, .grilla-contact-2x1 .contact__info .form__field--textarea {
  background-color: #29252c;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border: none;
  resize: none;
  border-bottom: 2px solid #f33535;
  outline: none;
  color: #d8e9f0;
}
.grilla-contact-2x1 .contact__form .form__field--checks, .grilla-contact-2x1 .contact__info .form__field--checks {
  padding-top: 20px;
}
.grilla-contact-2x1 .contact__form .form__field--checks .form__field-div, .grilla-contact-2x1 .contact__info .form__field--checks .form__field-div {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  column-gap: 10px;
  align-items: center;
}
.grilla-contact-2x1 .contact__form .form__field--checks .form__field-div .form-label-check, .grilla-contact-2x1 .contact__info .form__field--checks .form__field-div .form-label-check {
  font-weight: bold;
  margin-bottom: 3px;
  margin: 0px 15px 0px 0px;
}
.grilla-contact-2x1 .contact__form .form__field--submit-btn, .grilla-contact-2x1 .contact__info .form__field--submit-btn {
  background-color: #f33535;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid #f33535;
  border-radius: 15px;
  /* Agrego el sombreado al boton */
  transition: box-shadow 0.5s;
}
.grilla-contact-2x1 .contact__form .form__field--submit-btn:hover, .grilla-contact-2x1 .contact__info .form__field--submit-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px #33425b;
}
.grilla-contact-2x1 .contact__info {
  grid-area: contact-info;
}
.grilla-contact-2x1 .contact__info__header {
  padding-top: 10px;
  text-align: left;
}
.grilla-contact-2x1 .contact__info__data {
  margin: 20px 0px;
  text-align: left;
  color: #d8e9f0;
}

/***************************************************************************/
/* FOOTER */
/***************************************************************************/
footer {
  background-color: #29252c; /* Defino un color para el fondo */
  margin: 0; /* El header no tiene division con el borde de pantalla */
  padding: 0; /* Los elementos dentro del header no tienen espaciado */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

/* Barra con los iconos de redes sociales */
/* La uso tanto en el footer como en Index - Contact */
.social-bar {
  padding: 5px 0px;
}
.social-bar__list {
  padding: 5px 0px;
  list-style: none;
  text-align: center;
}
.social-bar__list__item {
  margin: 0px 5px;
  padding: 5px;
  display: inline-block;
}
.social-bar__list__item__link {
  text-decoration: none;
}
.social-bar__list__item__link__icon {
  width: 40px;
  height: 40px;
  border-radius: 35%;
}

/***************************************************************************/
/* Media Query Tablet --> 768px - 1023px */
/***************************************************************************/
@media (max-width: 1023px) {
  /* MAIN - ABOUT */
  /* Cambio el tipo de display para no generar espacios vacios innecesarios
  ** en el sitio.
  **/
  .grilla-about-2x2 {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
  /* MAIN - PORTFOLIO */
  .project__data {
    width: 90%;
  }
  .project__data__header {
    text-align: center;
  }
  /* MAIN - EXPERIENCE */
  .work-exp-description {
    display: block;
    width: 100%;
    margin: 0;
  }
  .work-exp-div {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .work-exp-div .work-exp-card {
    padding: 0;
  }
  .work-exp-div .work-exp-card__data {
    padding: 20px 20px;
    width: 100%;
  }
  .work-exp-div .work-exp-card__data__contact {
    display: block;
    width: 90%;
    text-align: center;
    margin: 30px auto;
  }
  .work-exp-div .work-exp-card__data__contact__btn {
    width: 100%;
  }
  /* MAIN - SKILLS */
  .grilla-skills-2x1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .grilla-skills-2x1 .skills .skill__name h3 {
    font-size: 20px;
  }
  .grilla-skills-2x1 .skills .skill__bar {
    width: 65%;
  }
  /* MAIN - CONTACT */
  .grilla-contact-2x1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "contact-form" "contact-info";
  }
}
/***************************************************************************/
/* Media Query Mobile --> 320px - 767px */
/***************************************************************************/
@media (max-width: 767px) {
  /* MAIN - INDEX */
  .index__image__div .sl-mod {
    width: 65vw;
  }
  .index__header, .index__header--left,
  .index__paragraph,
  .index__paragraph--center {
    text-align: center;
  }
  /* MAIN - PORTFOLIO */
  .project__img {
    width: 60%;
    height: 60%;
  }
  .project__data {
    width: 90%;
    margin: 0;
  }
  .project__data__btns {
    flex-direction: column;
  }
  .project__data__btns a {
    display: block;
    text-align: center;
    margin: 5px auto;
    width: 100%;
  }
  /* MAIN - SKILLS */
  .grilla-skills-2x1 .studies__header, .grilla-skills-2x1 .skills__header {
    text-align: center;
  }
  .grilla-skills-2x1 .studies .study, .grilla-skills-2x1 .skills .study {
    /* Oculto las lineas verticales y acomodo todo en una unica columna. */
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
  .grilla-skills-2x1 .studies .study__number .vl, .grilla-skills-2x1 .skills .study__number .vl {
    height: 0;
  }
  .grilla-skills-2x1 .studies .study__info, .grilla-skills-2x1 .skills .study__info {
    text-align: center;
  }
  /* MAIN - CONTACT */
  .grilla-contact-2x1 {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
  }
  .grilla-contact-2x1 .contact__form .form__field--checks, .grilla-contact-2x1 .contact__info .form__field--checks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    text-align: center;
  }
  .grilla-contact-2x1 .contact__form .form__field--checks .form__field-div, .grilla-contact-2x1 .contact__info .form__field--checks .form__field-div {
    flex-direction: column;
  }
  .grilla-contact-2x1 .contact__form .form__field--checks .form__field-div .form-label-check, .grilla-contact-2x1 .contact__info .form__field--checks .form__field-div .form-label-check {
    margin: 0;
  }
}
/***************************************************************************/
/* Media Query especifica para Bootstrap */
/***************************************************************************/
@media (max-width: 991px) {
  .header .bs-mod__navbar {
    z-index: 1;
  }
  .header .bs-mod__navbar-collapse {
    text-align: center;
    position: absolute;
    background-color: #29252c;
    width: 100%;
    top: 75px;
    left: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .header .bs-mod__navbar-collapse form {
    margin: 30px auto;
    width: 50%;
  }
  .header .bs-mod__navbar .bs-mod__btn {
    color: #f33535;
    border-color: #f33535;
  }
  .header .bs-mod__navbar .bs-mod__btn:hover {
    border-color: #f33535;
    background-color: #f33535;
  }
}
/***************************************************************************/
/* Media queries especiales de uso especifico */
/***************************************************************************/
@media (max-width: 1300px) {
  /* MAIN - SKILLS */
  .grilla-skills-2x1 .skills .skill {
    padding-bottom: 20px;
  }
  .grilla-skills-2x1 .skills .skill__name {
    width: 100%;
    text-align: center;
  }
  .grilla-skills-2x1 .skills .skill__bar {
    width: 100%;
  }
}
@media (max-width: 350px) {
  /* MAIN - INDEX */
  .index__image__div .sl-mod {
    width: 50vw;
  }
  /* BANNER */
  .banner__title-div {
    top: 37px;
  }
  .banner__title-div .banner__title {
    font-size: 22px;
  }
  /* MAIN - PORTFOLIO */
  .project__data__info p {
    text-align: center;
  }
  /* FOOTER */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  footer .social-bar {
    width: 80%;
  }
}
@media (max-width: 250px) {
  /* MAIN - INDEX */
  .index__image {
    width: 50vw;
  }
  .index__header, .index__header--left {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=main.css.map */
