
/***************************************************************************/
/* MAIN - ABOUT */
/***************************************************************************/
.grilla-about-2x2 {
    padding: 0px 40px;
    margin-bottom: 10px;
    @include grid-config(2, 2);
    column-gap: 20px;
    row-gap: 10px;
    
    .card-about-1,
    .card-about-2,
    .card-about-3,
    .card-about-4 {
        background-color: $c-black;
        padding: 30px;
        margin: 0px 0px;
        color: $c-white;
        border-radius: 30px;
        overflow: hidden;
        
        h2{
            height: 5%;
        }
        
        .card-about__header {
            margin-bottom: 30px;
            text-align: center;
        }
        
        .card-about--flex {
            height: 90%;
            @include flex-config(column, space-around, start);
        }
        
        .card-about__subtitle {
            text-align: left;
        }
        
        .card-about__paragraph {
            margin-bottom: 20px;
        }
    }
}

/* Le doy un formato a los bordes de los iframe */
.youtube-video,
.google-map {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px $c-white;
    display: inline-block;
    width: 100%;
}