/***************************************************************************/
/* MAIN - PORTFOLIO */
/***************************************************************************/
.project {
    text-align: center;
    margin-bottom: 10px;
    /* Con inline-block la imagen me queda al lado de los datos */
    &__img {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        width: 350px;
        height: 350px;
        /* Fijo el tamaño de las imagenes para que queden todas iguales */
        img {
            width: 100%;
            height: 90%;
            margin-top: 30px;
            border: 3px solid $c-red;
            border-radius: 30px;
            background-color: $c-black;
        }
    }
    /* Con inline-block la imagen me queda al lado de los datos */
    &__data {
        background-color: $c-black;
        display: inline-block;
        border-radius: 30px;
        margin-left: 20px;
        padding: 30px;
        width: 72.5%;
        /* En particular para estas tarjetas fuerzo que el titulo se alinie
        ** al comienzo (izquierda para occidentales)
        **/
        &__header {
            text-align: start;
            color: $c-white;
        }
        /* En particular para estas tarjetas fuerzo que el texto se alinie
        ** al comienzo (izquierda para occidentales)
        **/
        &__info {
            text-align: start;
            margin-top: 10px;
            font-size: 20px;
        }
        /* Los botones quiero que queden a la derecha */
        &__btns {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            a {
                color: $c-white;
                background-color: $c-red;
                border-radius: 20px;
                border: none;
                font-size: 20px;
                border: 2px solid $c-red;
                text-decoration: none;
                padding: 8px 20px;
                margin-left: 5px;
                width: 50%;
            }
        }
    }
}