/***************************************************************************/
/* MAIN - SKILLS */
/***************************************************************************/
.grilla-skills-2x1 {
    padding: 0 30px;
    margin-bottom: 10px;
    @include grid-config(2, 1);
    column-gap: 20px;
    row-gap: 10px;
    
    .studies {
        background-color: $c-black;
        padding: 20px 50px;
        /* margin: 0px 10px; */
        color: white;
        border-radius: 30px;
        overflow: hidden;
        @include flex-config(column, normal, normal);
        
        &__header {
            height: 10vh;
            @include flex-config(row, center, center);
        }
        
        .study {
            @include flex-config(row, space-between, normal);
            
            /* La informacion de cada estudio o certificado se muestra al lado
            ** del circulo con numero.
            ** Al div del numero le doy posicion relativa para poder agregar la
            ** linea vertical
            **/
            &__number {
                position: relative;
                
                h3 {
                    background-color: $c-red;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    @include flex-config(row, center, center);
                }
                
                /* La linea vertical tiene posicion absoluta al medio de los circulos
                ** con los numeros.
                **/
                .vl {
                    border-left: 5px solid $c-red;
                    height: 98%;
                    position: absolute;
                    top: 50px;
                    left: 22px;
                }
            }
            /* La informacion de cada estudio o certificado se muestra al lado del
            ** circulo con numero.
            **/
            &__info {
                text-align: start;
                color: $c-white;
                padding: 0px 15px;
                
                p {
                    margin: 10px 0px;
                }
            }
        }
    }
    
    .skills {
        @extend .studies;
        
        &__header {
            @extend .studies__header;
        }
        
        /* La etiqueta y barra de cada skill ocupan el 100% del contenedor que
        ** las aloja.
        **/
        .skill {
            
            /* La etiqueta sale al lado de la barra de skill */
            &__name {
                display: inline-block;
                width: 25%;
                text-align: right;
                padding-right: 15px;
            }
            
            /* La etique sale al lado de la barra de skill */
            &__bar {
                display: inline-block;
                width: 70%;
                border-top: none;
                border-bottom: 2px solid $c-white;
                border-left: 2px solid $c-white;
                border-right: 2px solid $c-white;
                /* Le doy una altura minima a la barra llena de skill para que se
                ** muestre en pantalla.
                ** Si no pongo un min-height la barra no se muestra porque el div no
                ** tiene contenido.
                **/
                
                &--fill {
                    background-color: $c-red;
                    min-height: 10px;
                }
            }
        }
    }
}