/***************************************************************************/
/* FUENTES */
/***************************************************************************/
@font-face {
    font-family: Balleny;
    src: url(./../assets/fonts/Balleny.otf);
}

@font-face {
    font-family: Mont-Heavy;
    src: url(./../assets/fonts/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: Mont-ExtraLight;
    src: url(./../assets/fonts/Mont-ExtraLightDEMO.otf);
}