/***************************************************************************/
/* CONFIGURACION UNIVERSAL */
/***************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: nth($list: $fonts, $n: 3), Tahoma, Geneva, Verdana, sans-serif;
}