// Loops

// Widths
@each $width in (10,20,30,40,50,60,70,80,90,100) {
    .l#{$width}{
        width: percentage($width / 100);
    }
};

// Definir un mapa de colores
$colors: (
    white: $c-white,
    gray: $c-gray,
    red: $c-red,
    black: $c-black
);

// Iterar sobre el mapa para generar clases CSS
@each $name, $color in $colors {
    .txt-#{"" + $name} {
        color: $color;
    }
}

// Definir un mapa para las configuraciones de textos
@each $value in (left, center, right, top, bottom, bold) {
    @if $value != bold {
        .txt-#{$value} {
            text-align: $value;
        }
    }
    @else {
        .txt-#{$value} {
            font-weight: $value;
        }
    }
};