/***************************************************************************/
/* Media Query Tablet --> 768px - 1023px */
/***************************************************************************/
@media (max-width: 1023px) {
    /* MAIN - ABOUT */
    /* Cambio el tipo de display para no generar espacios vacios innecesarios
    ** en el sitio.
    **/
    .grilla-about-2x2 {
        display: flex;
        flex-direction: column;
    }
    /* MAIN - PORTFOLIO */
    .project {
        &__data {
            width: 90%;
        }
    }
}

/***************************************************************************/
/* Media Query Mobile --> 320px - 767px */
/***************************************************************************/
@media (max-width: 767px) {
    /* MAIN - INDEX */
    .index__image__div {
        .index__image {
            width: 65vw;
        }
    }
    .index__header,
    .index__paragraph {
        text-align: center;
    }
    /* MAIN - PORTFOLIO */
    .project {
        &__img {
            width: 60%;
            height: 60%;
        }
        &__data {
            width: 90%;
            margin: 0;
            &__btns {
                flex-direction: column;
                a {
                    display: block;
                    text-align: center;
                    margin: 5px auto;
                    width: 100%;
                }
            }
        }
    }
}

/***************************************************************************/
/* Media Query especifica para Bootstrap */
/***************************************************************************/
@media (max-width: 991px) {
    .header {
        .bs-mod__navbar {
            z-index: 1;
            &-collapse {
                text-align: center;
                position: absolute;
                background-color: $c-black;
                width: 100%;
                top: 75px;
                left: 0px; 
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                form {
                    margin: 30px auto;
                    width: 50%;
                }
            }
            .bs-mod__btn {
                color: $c-red;
                border-color: $c-red;
                &:hover {
                    border-color: $c-red;
                    background-color: $c-red;
                }
            }
        }
    }
}

/***************************************************************************/
/* Media queries especiales de uso especifico */
/***************************************************************************/
@media (max-width: 1300px) {
}

@media (max-width: 350px) {
    /* MAIN - INDEX */
    .index__image__div {
        .index__image {
            width: 50vw;
        }
    }
    /* BANNER */
    .banner__title-div {
        top: 37px;
        .banner__title {
            font-size: 22px;
        }
    }
    /* MAIN - PORTFOLIO */
    .project {
        &__data {
            &__info {
                p {
                text-align: center;
                }
            }
        }
    }
    /* FOOTER */
    footer {
        display: flex;
        justify-content: center;
        .social-bar {
            width: 80%;
        }
    }
}

@media (max-width: 250px) {
    /* MAIN - INDEX */
    .index__image {
        width: 50vw;
    }
    .index__header {
        font-size: 1.2em;
    }
}