/***************************************************************************/
/* Media Query Tablet --> 768px - 1023px */
/***************************************************************************/
@media (max-width: 1023px) {
}

/***************************************************************************/
/* Media Query Mobile --> 320px - 767px */
/***************************************************************************/
@media (max-width: 767px) {
    /* MAIN - INDEX */
    .index__image__div {
        .index__image {
            width: 65vw;
        }
    }
    .index__header,
    .index__paragraph {
        text-align: center;
    }
}

/***************************************************************************/
/* Media Query especifica para Bootstrap */
/***************************************************************************/
@media (max-width: 991px) {
}

/***************************************************************************/
/* Media queries especiales de uso especifico */
/***************************************************************************/
@media (max-width: 1300px) {
}

@media (max-width: 350px) {
    /* MAIN - INDEX */
    .index__image__div {
        .index__image {
            width: 50vw;
        }
    }
    /* BANNER */
    .banner__title-div {
        top: 37px;
        .banner__title {
            font-size: 22px;
        }
    }
    /* FOOTER */
    footer {
        display: flex;
        justify-content: center;
        .social-bar {
            width: 80%;
        }
    }
}

@media (max-width: 250px) {
    /* MAIN - INDEX */
    .index__image {
        width: 50vw;
    }
    .index__header {
        font-size: 1.2em;
    }
}