// Colores
$c-white: #d8e9f0; // rgb(216, 233, 240)
$c-gray: #33425b; // rgb(51, 66, 91)
$c-red: #f33535; // rgb(243, 53, 53)
$c-black: #29252c; // rgb(41, 37, 44)

// Fuentes
$fonts:
'Balleny',
'Mont-Heavy',
'Mont-ExtraLight';