/***************************************************************************/
/* FOOTER */
/***************************************************************************/
footer {
    background-color: $c-black; /* Defino un color para el fondo */
    margin: 0; /* El header no tiene division con el borde de pantalla */
    padding: 0; /* Los elementos dentro del header no tienen espaciado */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

/* Barra con los iconos de redes sociales */
/* La uso tanto en el footer como en Index - Contact */
.social-bar {
    padding: 5px 0px;
    
    &__list {
        padding: 5px 0px;
        list-style: none;
        text-align: center;
        
        &__item {
            margin: 0px 5px;
            padding: 5px;
            display: inline-block;
            
            &__link {
                text-decoration: none;
                
                &__icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 35%;
                }
            }
        }
    }
}